@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2b2121;
  --color-secondary: #ffa726;
  --color-base-200: #fef9ef;
  --color-base-300: #fdf5ea;
  --color-accent: #2b2121;
  --color-neutral: #444444;
  --color-info: #ffffff;
  
}
*{
  font-family: "Plus Jakarta Sans", sans-serif;
}
